  <!-- color options -->
      <div class="palette-wrapper palette-closed">
        <div class="palette-inner">
          <div class="palette-toggle">
            <div class="palette-toggle-inner">
              <span><i class="fa fa-cog fa-spin"></i>Options</span>
            </div>
          </div>
          <h2 class="palette-title">Color Variant</h2>
          <ul class="palette-colors clearfix">
            <li class="palette-color-red"><a href="./assets/css/red.min.css"></a></li>
            <li class="palette-color-purple"><a href="./assets/css/purple.min.css"></a></li>
            <li class="palette-color-cyan"><a href="./assets/css/cyan.min.css"></a></li>
            <li class="palette-color-green"><a href="./assets/css/green.min.css"></a></li>
            <br>
            <h2 class="palette-title">Gradient</h2>
            <li class="palette-color-gradient"><a href="./assets/css/gradient.min.css"></a></li>
          </ul>
        </div>
      </div>
      <!-- color options end -->
      <!-- preloader -->
      <div id="preloader">
        <div class="sk-wave">
          <div class="sk-rect sk-rect1"></div>
          <div class="sk-rect sk-rect2"></div>
          <div class="sk-rect sk-rect3"></div>
          <div class="sk-rect sk-rect4"></div>
          <div class="sk-rect sk-rect5"></div>
        </div>
      </div>
      <!-- preloader end -->
      <app-header></app-header>

      <app-portfolio></app-portfolio>
      <section class="container-fluid sdm-bg" id="reviews">
        <div class="row">
          <div class="overlay"></div>
          <!-- testimonials slider -->
          
          <div class="container">
            <div class="row">
              <div class="col-md-12" data-wow-delay="0.2s">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                  <!-- Bottom Carousel Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="./assets/images/face1.jpg" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="./assets/images/face2.jpg" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="./assets/images/girl_face.png" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="./assets/images/girl_face.png" alt="">
                    </li>
                  </ol>

                  <!-- Carousel Slides / Quotes -->
                  <div class="carousel-inner text-center">

                    <!-- Quote 1 -->
                    <div class="item active">
                      <blockquote>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">

                            <p>Seamless process of billing that helped me track my spendings on the project. Delivery was just on time. Thanks for post production support!</p>
                            <small>Deepak Khosla</small>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                      <blockquote>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">

                            <p>We were looking for someone with NoSql database experience and we were referred by our consultant to Puneet and we were able to deliver the requirement to our client on time with right kind of solution.  </p>
                            <small>Chintan Sheel Soni</small>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                      <blockquote>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">

                            <p>Puneet helped us from scratch to establish our internet identity by developing Star City Cabs. All the design and effort were put by Puneet as he was working on his own startup. Thanks Mate!</p>
                            <small>Sukhwinder Singh</small>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- Quote 4 -->
                    <div class="item">
                      <blockquote>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">

                            <p>Everytime my developer was not available I had only one name in my mind, i.e. Puneet. I know he can deliver it on time even if I provide requirements in last minute.</p>
                            <small>Priya Garg</small>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <!-- Carousel Buttons Next/Prev -->
                  <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-angle-left fa-2x"></i></a>
                  <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-angle-right fa-2x"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- testimonials slider end -->
        </div>
      </section>
      <section class="container" id="about_me">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="row">
              <div class="col-md-5 col-sm-4 col-xs-12">
                <h3><i class="fa fa-user"></i>About me</h3>
                <div class="block">
                  <p>
                    I am a passionate Software Engineer who has been working in this field for more than 8 years now. 
                  </p>
                  <p>
                    You have an idea, you need someone to bring it to life, or you already have a product that needs to be revamped to meet the demand of 2018 users!. This is where I come in!  With my knowledge and creativity, I can take your idea, your product to the next level. Let's have a chat and discuss your idea!
                  </p>                  
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <h3><i class="fa fa-building"></i>Work history</h3>
                <div class="block">
                  <h4>Tech Lead</h4>
                  <ul class="icon-list">
                    <li><i class="fa fa-building"></i> Outline Software Solutions Pvt. Ltd. India</li>
                    <li><i class="fa fa-clock-o"></i> 2016-Present</li>
                  </ul>
                </div> 
                <div class="block">
                  <h4> Senior Software Developer & Product Owner</h4>
                  <ul class="icon-list">
                    <li><i class="fa fa-building"></i> Open Access Technology India</li>
                    <li><i class="fa fa-clock-o"></i> 2013-2016</li>
                  </ul>
                </div> 
                <div class="block">
                  <h4> Software Developer </h4>
                  <ul class="icon-list">
                    <li><i class="fa fa-building"></i> Open Access Technology India</li>
                    <li><i class="fa fa-clock-o"></i> 2010-2013</li>
                  </ul>
                </div> 
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <h3><i class="fa fa-graduation-cap"></i>Education</h3>
                <div class="block">
                  <h4>Master of Science in Software Systems</h4>
                  <ul class="icon-list">
                    <li><i class="fa fa-book"></i> BITS University</li>
                    <li><i class="fa fa-clock-o"></i> 2013-2015</li>
                  </ul>
                </div> 
                <div class="block">
                  <h4>Bachelor of Technology</h4>
                  <ul class="icon-list">
                    <li><i class="fa fa-book"></i> Punjab Technical Universtity</li>
                    <li><i class="fa fa-clock-o"></i> 2005-2009</li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <section class="container-fluid sdm-bg" id="expertness">
        <div class="row">
          <div class="overlay"></div>
          <div class="col-sm-12">
            <h3 class="text-center"><i class="fa fa-bookmark"></i>What I Do</h3>
          </div>
        </div>
        <section class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <div class="block">
                <i class="fa fa-android fa-3x"></i>
                <h4 class="text-uppercase">Mobile Apps</h4>
                <p>
                  You need a mobile app that runs either on android or iOS platform, I can help you with cost effective solutions.
                </p>
              </div> 
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="block">
                <i class="fa fa-code fa-3x"></i>
                <h4 class="text-uppercase">web apps</h4>
                <p>
                  Looking for business portals or enterprise level application, I can help you with initial design to production support by adding more team members for the project.
                </p>
              </div> 
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="block">
                <i class="fa fa-magic fa-3x"></i>
                <h4 class="text-uppercase">UX/UI Design</h4>
                <p>
                  Looking for someone who can help redesign your current out-of-date application, then you can contact me.
                </p>
              </div> 
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="block">
                <i class="fa fa-user-secret fa-3x"></i>
                <h4 class="text-uppercase">analytics</h4>
                <p>
                  I can help you identify the key performane indicators that really matters for your business.
                </p>
              </div> 
            </div>
          </div>
        </section>
      </section>
      <section class="container" id="hire_me"> 
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Need Any Help?</h3>
            <h4><i class="fa fa-thumbs-up fa-2x"></i> I am available for freelance hire</h4>

            <nav class="cl-effect-2">
              <a href="#contact_me"><span data-hover="Hire Me">Hire Me</span></a>
            </nav>
          </div>
        </div>
      </section>
      <section class="container-fluid sdm-bg" id="contact_me">
        <div class="row">
          <div class="overlay"></div>
          <div class="col-sm-12 text-center text-capitalize">
            <h3>want to discuss a project?</h3>
            <h4>just drop a message below and i'll get in touch!</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <section class="col-sm-10 col-sm-offset-1">

            <div class="row text-center">
              <div class="col-sm-4 col-xs-12">
                <div class="block">
                  <i class="fa fa-envelope fa-2x"></i>
                  <h4 class="text-uppercase">Queries</h4>
                  <ul class="list-unstyled">
                    <li>puneet@learningcurves.in</li>
                  </ul>
                </div> 
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="block">
                  <i class="fa fa-phone fa-2x"></i>
                  <h4 class="text-uppercase">Call Us</h4>
                  <ul class="list-unstyled">
                    <li>+91 9888 725 429</li>
                  </ul>
                </div> 
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="block">
                  <i class="fa fa-home fa-2x"></i>
                  <h4 class="text-uppercase">Office</h4>
                  <ul class="list-unstyled">
                    <li>support@learningcurves.in</li>
                  </ul>
                </div> 
              </div>
            </div>
            <form action="" class="row">
              <div class="col-sm-6 col-xs-12">
               <div class="form-group">
                 <label for="your_name">Your Name</label>
                 <input type="text" class="form-control" id="your_name" placeholder="Write Your Name">
               </div>
               <div class="form-group">
                <label for="your_email">Your Email Address</label>
                <input type="email" class="form-control" id="your_email" placeholder="Enter Your Email">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="your_message">Your Message</label>
                <textarea class="form-control" rows="5" placeholder="Write Your Message"></textarea>
                
              </div>
            </div>
            <div class="col-sm-12 text-center margin-top-55 margin-bottom-55">
              <button type="submit" class="btn btn-orange">Send Message</button>
            </div>
          </form>

          <div class="text-center row">
            <div class="col-sm-12">
              <ul class="social-networks spin-icon">
                <li><a href="https://www.facebook.com/puneetshrma/" class="icon-facebook">Facebook</a></li>
                <li><a href="https://twitter.com/puneetshrma/" class="icon-twitter">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/puneetshrma/" class="icon-linkedin">LinkedIn</a></li>
                <li><a href="https://instagram.com/puneetshrma" class="icon-instagram">Instagram</a></li>
              </ul>
              <p class="text-center margin-top-30">
               &copy Copyright 2018 <a href="#">Puneet S Portfolio </a> 
             </p>
           </div>
         </div>
       </section>
     </div>
   </section>
   <!-- Modal -->
   <div class="modal fade" id="modalMedical" tabindex="-1" role="dialog" aria-labelledby="modalMedicalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalMedical">Medical Hospital Management</h4>
        </div>
        <div class="modal-body">
          <p> </p>
          <img src="./assets/images/portfolio/medical.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end -->
   <!-- Modal -->
   <div class="modal fade" id="modalDigital" tabindex="-1" role="dialog" aria-labelledby="modalDigitalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalDigitalLabel">Mojo Web App redesign concept</h4>
        </div>
        <div class="modal-body">
          <p> </p>
          <img src="./assets/images/portfolio/insurance.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end -->
   <!-- Modal -->
   <div class="modal fade" id="modalTrading" tabindex="-1" role="dialog" aria-labelledby="modalTradingLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalTradingLabel">Mojo Web App redesign concept</h4>
        </div>
        <div class="modal-body">
          <p> </p>
          <img src="./assets/images/portfolio/trading.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end -->
   <!-- Modal -->
   <div class="modal fade" id="modalCabs" tabindex="-1" role="dialog" aria-labelledby="modalCabsLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalCabsLabel">Mojo Web App redesign concept</h4>
        </div>
        <div class="modal-body">
          <p> </p>
          <img src="./assets/images/portfolio/cabs.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end -->
   <!-- Modal -->
   <div class="modal fade" id="modalDataSense" tabindex="-1" role="dialog" aria-labelledby="modalDataSenseLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalDataSense">Mojo Web App redesign concept</h4>
        </div>
        <div class="modal-body">
          <p> </p>
          <img src="./assets/images/portfolio/analytics.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end -->
   <!-- Modal -->
   <div class="modal fade" id="modalAI" tabindex="-1" role="dialog" aria-labelledby="modalAILabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalAILabel">Mojo Web App redesign concept</h4>
        </div>
        <div class="modal-body">
          <p> </p>
          <img src="./assets/images/portfolio/AI.jpg" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end -->
  <script src="./assets/js/main.min.js"></script>
  <!-- Remove color switcher -->
  <script>
    $(document).ready(function() {
      $('.palette-colors a').click(function(e) {
        e.preventDefault();
        var newCSSHref = $(this).attr('href');
        $('#css-main').attr('href', newCSSHref);
      });
      // close the palette on click
      $('.palette-toggle').click(function() {
        $('.palette-wrapper').toggleClass('palette-closed');
      });
    });
  </script>
  <!-- Remove Color swither end -->

