<header class="container-fluid sdm-bg" id="home">
    <div class="row">
      <div class="overlay"></div>
      <!-- main menu -->
      <ul class="nav nav-pills menu-center margin-top-30 scroll-nav">
        <li role="presentation" class="active"><a href="#home"><i class="fa fa-home"></i></a></li>
        <li role="presentation"><a href="#portfolio">Portfolio</a></li>
        <li role="presentation"><a href="#reviews">Reviews</a></li>
        <li role="presentation"><a href="#about_me">About</a></li>
        <li role="presentation"><a href="#expertness">Services</a></li>
        <li role="presentation"><a href="#contact_me">Contact</a></li>
      </ul>
      <!-- main menu end -->
      <img src="./assets/images/profile_4.jpg" class="margin-top-76 img-circle center-block profile_picture" alt="profile picture">
      <h1 class="text-capitalize text-center">Er. Puneet Sharma</h1>
      <h3 class="text-capitalize text-center">Software Engineer</h3>
      <hr/>
      <div class="text-center margin-bottom-135">
        <ul class="social-networks spin-icon">
          <li><a href="https://www.facebook.com/puneetshrma/" class="icon-facebook">Facebook</a></li>
          <li><a href="https://twitter.com/puneetshrma/" class="icon-twitter">Twitter</a></li>
          <li><a href="https://www.linkedin.com/in/puneetshrma/" class="icon-linkedin">LinkedIn</a></li>
          <li><a href="https://instagram.com/puneetshrma" class="icon-instagram">Instagram</a></li>
        </ul>
      </div>
    </div>
  </header>