<section class="container position-relative" id="portfolio">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 position-absolute">
        <div class="text-center filter-btns">
          <!-- filter btn -->
          <ul class="nav nav-pills">
            <li role="presentation">
              <a href="javascript:void(0)" id="all" class="btn" data-mixitup-control data-filter="all">All</a>
            </li>
            <li role="presentation">
              <a href="javascript:void(0)" class="btn" data-mixitup-control data-filter=".web">Web</a>
            </li>
            <li role="presentation">
              <a href="javascript:void(0)" class="btn" data-mixitup-control data-filter=".android">Android</a>
            </li>
            <li role="presentation">
              <a href="javascript:void(0)" class="btn" data-mixitup-control data-filter=".ios">iOS</a>
            </li>
            <li role="presentation">
              <a href="javascript:void(0)" class="btn" data-mixitup-control data-filter=".desktop">Desktop</a>
            </li>
          </ul>
          <!-- filter btn end-->
        </div>
        <!-- mixitup container -->
        <div class="row" id="mix-wrapper">
          <div id="effect-5">
            <div class="col-md-4 col-sm-6 col-xs-6 mix-target web" data-order="1">
              <figure>
                <img src="./assets/images/portfolio/AI.jpg" alt="">
                <figcaption>
                  <a href="#" data-toggle="modal" data-target="#modalAI">
                    <h3>GeoCoding Extraction Project</h3>
                    <hr>                      
                    <p> Development</p>
                    <p> Extracted geocodes using unstructured address using Bing Maps API and Google Maps API.</p>
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix-target web" data-order="2">
              <figure>
                <img src="./assets/images/portfolio/trading.jpg" alt="">
                <figcaption>
                  <a href="#" data-toggle="modal" data-target="#modalTrading">
                    <h3>Web Trading Project</h3>
                    <hr>
                    <p>Development</p>     
                    <p>Web Application designed to meet big enterprises expectation in the field of energy trading.</p>                     
                  </a>                      
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix-target web" data-order="3">
              <figure>
                <img src="../assets/images/portfolio/analytics.jpg" alt="">
                <figcaption>
                  <a href="#" data-toggle="modal" data-target="#modalDataSense">
                    <h3>Data Sense Concept</h3>
                    <hr> 
                    <p> Design, Development</p>        
                    <p> Concept is to analyse the data and create metrics with important KPI's.</p>                        
                  </a>                      
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix-target web desktop" data-order="4">
              <figure target="_blank">
                <img src="../assets/images/portfolio/insurance.jpg" alt="">
                <figcaption>
                  <a href="#" data-toggle="modal" data-target="#modalDigital">
                    <h3>Insurance Domain Concept</h3>
                    <hr>
                    <p> Re-Design, Development</p>      
                    <p> Re-designed vb.net application to web API based web application.</p>                      
                  </a>                      
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix-target web" data-order="5">
              <figure>
                <img src="assets/images/portfolio/cabs.jpg" alt="">
                <figcaption>
                  <a href="#" class="porto" data-toggle="modal" data-target="#modalCabs">
                    <h3>Star City Cabs Startup</h3>
                    <hr> 
                    <p>Design , Development</p>    
                    <p>A web application for new cab service startup./p>                    
                  </a>

                </figcaption>
              </figure>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 mix-target web android ios" data-order="6">
              <figure>
                <img src="assets/images/portfolio/medical.jpg" alt="">
                <figcaption>
                  <a href="#" data-toggle="modal" data-target="#modalMedical">
                    <h3>Medical Hospital Management</h3>
                    <hr> 
                    <p>Design , Development</p>     
                    <p>An web application portal for hospital to ensure everything is streamlined.</p>                        
                  </a>                      
                </figcaption>
              </figure>
            </div>
          </div>
          <!-- <div class="col-sm-12 text-center">

            <a href="#" class="btn btn-orange">Load More</a>
          </div> -->

        </div>
        <!-- mixitup container end -->
      </div>
    </div>
  </section>